<div class="jumbotron text-center">
  <h1>TimeCamp</h1>
  <p>Created by: Dewanshu Chhatlani</p> 
</div>


<div class="container">
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
</div>

  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>User</h3>
      <p>A user can perform the following actions:</p>
      <p>1. Login.</p>
      <p>2. Sign up.</p>
      <p>3. Change password</p>
      <p>4. Fill his/her timesheet.</p>
      <p>5. View his/her timesheet entries.</p>
      
    </div>
    <div class="col-sm-4">
      <h3></h3>
      <p></p>
      <p></p>
    </div>
    <div class="col-sm-4">
      <h3>Admin</h3>        
      <p>An admin can do the following activities:</p>
      <p>1. Log In as Admin.</p>
      <p>2. View all the timesheet entries by all the users.</p>
      <p>3. Edit a particular timesheet entry.</p>
      <p>4. Delete a particular timesheet entry.</p>
    </div>
  </div>
</div>